.pagination {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
p {
    padding: 10px;
    margin: 5px;
    border: 1px solid gray;
border-radius: 5px;
    cursor: pointer;
    }
.active {
    background: rgb(10, 171, 34);
    color: #fff;
    border-radius: 10px;
        }
}