td {
    padding: 7px;
}
.gray {
    background: #b0acac;
    color: #fff;
}
.white {
    background: white;
}
.green {
    color: #0e990e;
}
.red {
    color: #e60000
}
.gray {
    td {
        border: 1px solid #b0acac;
    }
    .link {
        a {
            text-decoration: none;
            color: #fff
        }
    }
}
.white {
    td {
        border: 1px solid #b0acac;
    }
    .link {
        a {
            text-decoration: none;
            color: #b0acac
        }
    }
}