td {
    padding: 7px;
}
.gray {
    background: grey;
    color: #fff;
}
.white {
    background: white;
}
.green {
    color: green;
}
.red {
    color: red
}
.gray {
    td {
        border: 1px solid gray;
    }
    .link {
        a {
            text-decoration: none;
            color: #fff
        }
    }
}
.white {
    td {
        border: 1px solid gray;
    }
    .link {
        a {
            text-decoration: none;
            color: gray
        }
    }
}